@font-face {
  font-family: Oxygen;
  src : url('fonts/Oxygen-Bold.ttf');
  font-weight: bold;
}

h1{
	color: white;
}

body {
	background-color: #F5F3A9
  min-height: 75rem;
  padding-top: 4.5rem;
}

#fonddetexte{
	margin:0 auto;
	background-color:white;
	text-align:center;
	align-content:center;
	background-image:url(../images/Morning-dew-on-the-fresh-green-leaves_1920x1080.jpg);
	background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#accroche{
	padding-top:100px;
	padding-bottom:300px;
}

#activite {	
	margin-top:2em;
	display: flex;
}

#banner {
	background-color:RGBA(62,112,61,0.86);
	margin:0px;
	width:100%;
	height:60px;
	position: fixed;
	top: 0px;
}

#logo{
	float: left;
}

#logo img{
	height: 50px;
	background-color: white;
	padding: 5px;
	margin-left:10px;
}

#image1 img{
	width:100%;
	text-align: center;
	align-content: center;
	margin:auto;
}

#video {
	vertical-align: middle;
}

#video video{
	display:center;
	width:90%;
	text-align:center;
	align-content: center;
	margin:auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.box { 
   flex: 1;
}

#imgmonparcours{
	width: 50%;
	margin: auto; 
	float:right;
}

#imgcontact{
	width: 20%;
}

footer{
	background:green;
	width:100%;
	padding-top:50px;
	height:50px;
	bottom:0px;
}
